.button {
  font-family: "Neue Plak", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
  font-weight: bold;
  text-transform: uppercase;

  &--black {
    border: 1px solid theme("colors.black");
    background-color: theme("colors.black");
    color: theme("colors.white");

    @include hoverable {
      background-color: theme("colors.white");
      color: theme("colors.black");
    }

    &.button--transparent {
      background: transparent;
      color: theme("colors.black");

      @include hoverable {
        background-color: theme("colors.black");
        color: theme("colors.white");
      }
    }
  }

  &--hot-pink {
    border: 1px solid theme("colors.hot-pink");
    background-color: theme("colors.hot-pink");
    color: theme("colors.white");

    @include hoverable {
      background-color: theme("colors.white");
      color: theme("colors.hot-pink");
    }

    &.button--transparent {
      background: transparent;
      color: theme("colors.hot-pink");

      @include hoverable {
        background-color: theme("colors.hot-pink");
        color: theme("colors.white");
      }
    }
  }

  &--white {
    &--border-black {
      border: 1px solid theme("colors.black");
      background-color: theme("colors.white");
      color: theme("colors.black");

      @include hoverable {
        background-color: theme("colors.black");
        color: theme("colors.white");
      }
    }

    border: 1px solid theme("colors.white");
    background-color: theme("colors.white");
    color: theme("colors.black");

    @include hoverable {
      background-color: theme("colors.black");
      color: theme("colors.white");
    }

    &.button--transparent {
      background: transparent;
      color: theme("colors.white");

      @include hoverable {
        background-color: theme("colors.white");
        color: theme("colors.black");
      }
    }
  }
}
